pydantic==2.9.2
urllib3==1.26.15
pydantic-settings==2.5.2
orjson==3.10.7
python-multipart==0.0.12
typer==0.12.5
requests==2.32.3
kafka-python @ git+https://github.com/dpkp/kafka-python.git ; python_version >= '3.12'
backoff==2.2.1
clickhouse-connect==0.8.6
